{% extends "inscripcion_ifts18/base.html" %}

{% block nav %}
<div class="anclas">
<a href="{% url 'inscripcion_ifts18:alumnoIndex' %}">Index</a>
<a href="{% url 'inscripcion_ifts18:verInscripciones' %}">Ver inscripciones</a>
<a href="{% url 'inscripcion_ifts18:logout' %}">Cerrar sesión</a>
<hr>
</div>

{% endblock %}

{% block body %}
<h3>Bienvenido {{ nombre.upper }} a la inscripción de finales</h2>
<p>Selecciona la materia a la que te gustaría inscribirte</p>
<br><br>
<br><br>
<!-- si se inscribió correctamente, mostrar alerta satisfactoria -->
{% if inscripto %}
    <div class="alert alert-success" role="alert">
        <strong>¡Inscripción realizada correctamente!</strong>
    </div>
    {% endif %}
  <!-- show error alert -->
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <br><br>
<table class="table table-striped">
  <tbody>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Año</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>

      <!-- show materias in the table -->
      {% for materia in materias %}
      <tr>
        <td>{{ materia.descripcion}}</td>
        <td>{{ materia.id_curso.descripcion}}</td>
        <td>
          <!-- si el id de una materia se encuentra en inscripciones realizadas, mostrar un boton desactivado -->
            <a href="{% url 'inscripcion_ifts18:inscribir' materia.id %}" class="btn btn-primary">Inscribir</a>
        </td>
      </tr>
  {% endfor %}

    </tbody>
  </table>
  
{% endblock %}
    
