{% extends "inscripcion_ifts18/base.html" %}

{% block nav %}
    <a href="{% url 'inscripcion_ifts18:check_if_usr' %}">Index</a>
    <a href="{% url 'inscripcion_ifts18:logout' %}">Cerrar sesión</a>
{% endblock %}

{% block div %}
<h2>Inscripción a finales</h2>
<p>Selecciona la materia a la que te gustaría inscribirte</p>
<br><br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Año</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <!-- show materias in the table -->
      {% for materia in materias %}
      <tr>
        <td>{{ materia.descripcion}}</td>
        <td>{{ materia.id_curso.descripcion}}</td>
        <td>
          <a href="">
              <button type="button" class="btn btn-primary">Inscribirse</button>
          </a>
        </td>
      </tr>
<!--para el href % url 'inscripcion_ifts18:inscripcion_finales' %?id= materia.id  -->
      

  {% endfor %}

    </tbody>
  </table>
{% endblock %}
    
