* {
    font-family: 'Open Sans', sans-serif;
    margin: 1%;
}

/*Base*/
body{
    height:1000px;
}

.anclas{
    text-align: center;
}

.anclas a{
    color:black;
    text-decoration: none;
    width:50%;
    margin:auto;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

.anclas a:hover {
    color: #0099ff;
    text-decoration: underline;
}

.alert{
    width:50%;
    text-align: center;
    margin:auto;
    font-size: 20px;
    font-weight: bold;
}
h1 {
    width: 600px;
    margin: -90px auto;
}
.nav{
    margin-top:150px;
}

h3{
    width: 80%;
    text-align: center;
    margin: 80px auto;
    font-weight:bold;

}


h2{
    width: 80%;
    text-align: center;
    margin: 100px auto;
    font-weight:bold;

}
/*Index*/
p{
    color:gray;
    width: 400px;
    margin: -70px auto;

}
.table{
    width: 40%!important;
    height: 20%;
    margin: auto;
}
form{
    width: 250px;
    height: 500px;
    margin: auto;
    margin-top:100px;
}
input{
    width:300px;
}


button{
    margin-left:40px;
    margin-bottom:10px;
}
